.Name_profilo {
	            margin-left:470px;
				font-size:38px;
				color:white;
				margin-top:22px;
	            text-shadow: 2px 2px 5px #000000
}

.Titolo-pagina {
	                text-align:center;
					font-size:50px;
               }

.Input {margin-left:14px;}

.Login {margin-left:14px;}

#table {margin-left:14px;}

.td {font-size:20px;}

.Nome_pagina {
	            margin-left:660px;
				margin-top:0;
				font-size:43.5px;
				font-style: italic;

             }

#Sezione_Aside {
	                background-color:cornflowerblue;
                    float:left;
                    height:2820px;
                    width:15%;
                    display:block;
				}

.input {margin-left:16px;}

#link {
	    text-decoration:none;
		  color:white;
      }

.Primo_contenitore {
	                background-color:white;
                    width:100%;
                    height:420px;
                    background-image:url(../images/imagesDiv/volo.jpg); background-repeat: round;
                    }


.lista {
            text-align:center;
		    font-size:26px;
       }


#nav2 li {
	        display:inline;
	        margin-left:55px;
            font-size:29px;
         }


nav a {
	    text-decoration:none;
		color:black;
	  }


nav a:hover {
	            color: rgb(17,21,206);
			    border-bottom: 5px solid black;
            }


.Table {width:85%;}


#Italia {
	       height:20px;
		   width:40%;
        }

#Colonna {float:right;}


#link2 {
	        color:red;
            text-decoration:none;
	   }


#Colonne {
	        color:red;
			font-size:20px;
         }

#Colonne  a:hover {
	                font-style: italic;
                    color: rgb(24,129,158);
                  }

.Scroll {
            margin-top:0;
			text-align:center;
			font-size:22px;
			text-shadow: 1px 1px 2px #000000;
			margin-left:220px;
        }

.Articol_1 {
	            background-color: rgb(230,230,230);
				height:350px;
				display:block;
            }

.tag_a {text-decoration:none;}


.Articol_2 {
                background-color: rgb(40,142,172);
			    height:700px;
            }

#img {
	    width:60%;
		height:190x;
		border-radius:150px;
		margin-left:80px;

	 }

.paragrafo {
	            text-align:center;
				font-size:28px;
           }


.Articol_3 {
	            height:770px;
   				background-color:lightsteelblue;
	       }

.Scritta {
	        text-align:center;
			font-size:30px;
			color:red;
         }

.Articol_4 {
	            height:580px;
				background-color:wheat;
           }

.ImmagineScroll {margin-left:400px;}


#Footer{
	        height:295px;
			background-color:cadetblue;
        }

.diritti-riservati {
	                    float:left;
						color:white;
                        margin-left:14px;
                   }

#Link {
	    Color:white;
		text-decoration:none;
	  }

#Contatti {
	        Color:white;
		    text-decoration:none;
			font-size:20px;
		  }



hr {
	    height:10px;
		background-color:white;
   }

#Immagine_Aside {
	                height:155px;
					width:100%;
				}

#hr1 {color:black}


.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 200px; /* Cresce, si contrae e ha una base di 200px */
}

